<% provide(:title, @vol.volumename) %>

<%= render 'layouts/navbar' %>

<div class="container alert-warning modal-content">
 <div class="card">
   <div align="center">
   <img class="card-img card-scale" src="" style="">
   </div>
   </div>
<h1>
  <%= @vol.volumename %>
</h1>
<h3>
  <!--description goes here-->
</h3>
  <%= render 'ratings/vform' %>
  <%= render 'reviews/vform'%>
  <%= render 'v_comments/form' %>
  <%= render 'v_comments/comment' %>
</div>
</div>

<%= render 'layouts/footer'%>