<% provide(:title, @vol.volumename) %>

<%= render 'layouts/navbar' %>

<div class="container alert-warning modal-content">
 <div class="card">
   <div align="center">
   <img class="card-img card-scale" src="" style="">
   </div>
   </div>
<h1>
  <%= @vol.volumename %>
  <a href="/series/<%= @vol.series.seriesID %>" class="btn btn-primary">Series:<%=@vol.series.seriesname%></a>
  <a href="/franchise/<%= @vol.series.franchise.franchiseID %>" class="btn btn-primary">Franchise:<%=@vol.series.franchise.franchisename%></a>
  <a href="/publisher/<%= @vol.series.franchise.publisher.publisherID %>" class="btn btn-primary">Publisher:<%=@vol.series.franchise.publisher.publisherName%></a>
  <% @vol.issues.reorder('issuename').each do |issue| %>
      <a href="/issues/<%= issue.issueID %>" class="btn btn-primary">Issue:<%=issue.issuename%></a>
  <% end %>
</h1>
<h3>
  <!--description goes here-->
</h3>
  <%= render 'ratings/vform' %>
  <%= render 'reviews/vform'%>
  <%= render 's_comments/form' %>
  <%= render 's_comments/comment' %>
</div>
</div>

<%= render 'layouts/footer'%>