<div class = "container">
      <div class = "row">
          <div class="col-sm-12">
            <% @comm.order(created_at: :desc).each do |comment| %>
                  <p>
                    <img src = <%=User.find(comment.user_id).profilePic%> width="80" height = "80" alt"">  <%=User.find(comment.user_id).displayName%>
                  </p>
                  <% if User.find(comment.user_id).permission.to_i == 2%>
                  <p style="color: red;">
                   Admin
                    <img class = "mx-auto rounded-circle" src=<%= asset_path '/crown_bronze.png' %>>
                    </p>
                  <%end%>
                  <% if User.find(comment.user_id).permission.to_i == 1%>
                  <p style="color: green;">
                    Editor
                    <img class = "mx-auto rounded-circle" src=<%= asset_path '/wrench_orange.png' %>>
                  </p>
                  <%end%>
            <p>  Date: <%=comment.date%>
<<<<<<< HEAD
          <!-- if logged_in? && (@current_user.userID == iComments.user_id || @current_user.permission.to_i > 1)-->
            <% if logged_in? && (@current_user.userID == comment.user_id || @current_user.permission.to_i > 1)%>
                <%= link_to "Delete", [current_user, current_user.UComments.find(comment.commentId)], method: :delete %>
                <%= link_to "Edit", edit_user_u_comment_path(current_user, current_user.UComments.find(comment.commentId)) %>
=======
            <% if logged_in? && (@current_user.userID == comment.user_id || @current_user.permission.to_i > 0)%>
                <%= link_to "Delete", [User.find(comment.user_id), User.find(comment.user_id).UComments.find(comment.commentId)], method: :delete %>
                <%= link_to "Edit", edit_user_u_comment_path(User.find(comment.user_id), User.find(comment.user_id).UComments.find(comment.commentId)) %>
>>>>>>> 7d6dc28ebd807408572ca300ab751a6b0ecb58b2
            <% end %>
            <br />
            </p>
            <p id = "comments"> <%=comment.body%></p>
            <% end %>
          </div>
        </div>
      </div>
