<div class = "container">
      <div class = "row">
        <div id: "comments">
          <div class="col-sm-12">
            <% @comm.order(created_at: :desc).each do |comment| %>
                  <p>
                    <img src = <%=User.find(comment.user_id).profilePic%> width="80" height = "80" alt"">  <%=User.find(comment.user_id).displayName%>
                  </p>
            
            <p>  Date: <%=comment.date%>
            <% if logged_in? && @current_user.userID == comment.user_id %>
                <%= link_to "Delete", [current_user, current_user.UComments.find(comment.commentId)], method: :delete %>
                <%= link_to "Edit", edit_user_u_comment_path(current_user, current_user.UComments.find(comment.commentId)) %>
            <% end %>
            <br />
            </p>
            <p id = "comments"> <%=comment.body%></p>
            
            <% end %>
          </div>
        </div>
      </div>
    </div>