<div class = "container">
      <div class = "row">
          <div class="col-sm-12">
            <% @comm.order(created_at: :desc).each do |comment| %>
                  <p>
                    <img src = <%=User.find(comment.user_id).profilePic%> width="80" height = "80" alt"">  <%=User.find(comment.user_id).displayName%>
                  </p>
                  <% if User.find(comment.user_id).permission.to_i == 2%>
                  <p style="color: red;">
                   Admin
                    <img class = "mx-auto rounded-circle" src=<%= asset_path '/crown_bronze.png' %>>
                    </p>
                  <%end%>
                  <% if User.find(comment.user_id).permission.to_i == 1%>
                  <p style="color: green;">
                    Editor
                    <img class = "mx-auto rounded-circle" src=<%= asset_path '/wrench_orange.png' %>>
                  </p>
                  <%end%>
            <p>  Date: <%=comment.date%>
                  
            <% if logged_in? && (@current_user.userID == comment.user_id || @current_user.permission.to_i > 0)%>
                <%= link_to "Delete", [User.find(comment.user_id), User.find(comment.user_id).UComments.find(comment.commentId)], method: :delete %>
                <%= link_to "Edit", edit_user_u_comment_path(User.find(comment.user_id), User.find(comment.user_id).UComments.find(comment.commentId)) %>

            <% end %>
            
            <br />
            </p>
            <p id = "comments"> <%=comment.body%></p>
             
            <% end %>
            </div>
        </div>
      </div>
      <div class = container>
            <% Review.all.each do |rev|%>
              <%if (@user.userID == rev.user_id)%>
              <% if rev.volume_id != nil %>
               <div class= container id="comments">
                  <img class=mx-auto width=80 height=80 src="<%= rev.user.profilePic%>"></img>
                  <%= rev.user.displayName%> <a href="/series/<%=Volume.find(rev.volume_id).volumeID%>"><img class = mx-auto src="<%=Volume.find(rev.volume_id).picture%>" width=80 height=80></img></a><br>
                  <% if rev.user.permission.to_i > 1%>
                    <p style="color:red;">
                      Admin Account
                      <img class="mx-auto rounded-circle" src=<%=asset_path '/crown_bronze.png'%>>
                    </p> 
              <%=rev.created_at%> <br><br>
              <%=rev.body %>
                  <%end%>
                </div>
              <%end%>
      
              <% if rev.issue_id != nil %>
              <div class= container id="comments">
                 <img class=mx-auto width=80 height=80 src="<%= rev.user.profilePic%>"></img>
                  <%= rev.user.displayName%> @ &nbsp;<a href="/issues/<%=rev.issue_id%>"><img class = mx-auto src="<%=rev.issue.cover%>" width=80 height=80></img></a><b> &nbsp; REVIEW</b><br>
                  <% if rev.user.permission.to_i > 1%>
                    <p style="color:red;">
                      Admin Account
                      <img class="mx-auto rounded-circle" src=<%=asset_path '/crown_bronze.png'%>>
                    </p> 
                    
              <%=rev.created_at%> <br><br>
              <%=rev.body %>
                  <%end%>
                </div>
              <%end%>
      
              <% if rev.series_id != nil %>
                <div class= container id="comments">
                  <img class=mx-auto width=80 height=80 src="<%= rev.user.profilePic%>"></img>
                  <%= rev.user.displayName%> @ &nbsp;<a href="/series/<%=Series.find(rev.series_id).seriesID%>"><img class = mx-auto src="<%=Series.find(rev.series_id).picture%>" width=80 height=80></img></a><b> &nbsp; REVIEW</b><br>
                  <% if rev.user.permission.to_i > 1%>
                    <p style="color:red;">
                      Admin Account
                      <img class="mx-auto rounded-circle" src=<%=asset_path '/crown_bronze.png'%>>
                    </p> 
                    
              <%=rev.created_at%> <br><br>
              <%=rev.body %>
                  <%end%>
                </div>
              <%end%> 
            <%end%>
            <%end%>
            </div>
            