<% provide(:title, @fran.franchiseName) %>

<%= render 'layouts/navbar' %>

<div class="container alert-warning modal-content">
 <div class="card">
   <div align="center">
   <img class="card-img card-scale" src=<%=@fran.picture%> style="">
   </div>
   </div>
<h1>
  <%= @fran.franchiseName %>
</h1>
<h3>
  <%= @fran.description %>
</h3>

</div>
</div>

<%= render 'layouts/footer'%>