
<!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

<% provide(:title, @fran.franchisename) %>

<%= render 'layouts/navbar' %>
<br>
<div class = container>
    <div class="row">
        <div class = "col-sm-4">
         <img src= "<%=@fran.picture%>" class="img-fluid" alt="Responsive image" >
        </div>
        <div class = "col-sm-8">
            <div class="shadow-lg p-4 mb-4 bg-white">
                <h1>
                    <%= @fran.franchisename %> : <br>
                </h1>
                    <p>
                    <a href="/publisher/<%= @fran.publisher.publisherID %>" class="btn btn-primary">Publisher:<%=@fran.publisher.publisherName%></a>
                    <% @fran.series.reorder('seriesname').each do |series| %>
                        <a href="/series/<%= series.seriesID %>" class="btn btn-primary">Series:<%=series.seriesname%></a>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class = container>
    <div class="row">
        <div class="shadow-lg p-4 mb-4 bg-white">
        <b>Summary: </b> <br>
        <%= @fran.description%>
        </div>
    </div>
</div>


</body>
<%= render 'layouts/footer'%>