<%= render 'layouts/navbar' %>
 
  <div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="display-3">Add Issue</h1>
    <%= form_for(@iss) do |f| %>
      <%= f.label :issuename, "Title" %>
      <%= f.text_field :issuename, class: 'form-control' %>
      
      <%= f.label :cover, "Cover URL" %>
      <%= f.text_field :cover, class: 'form-control' %>
      
      <%= f.label :synopsis, "Synopsis" %>
      <%= f.text_area :synopsis, class: 'form-control' %>
      
      <%= f.label :summary, "Summary" %>
      <%= f.text_area :summary, class: 'form-control' %>
      
      <%= f.label :artist, "Artist/s" %>
      <%= f.text_field :artist, class: 'form-control' %>
      
      <%= f.label :author, "Author/s" %>
      <%= f.text_field :author, class: 'form-control' %>
      
      <%= f.label :editor, "Editor/s" %>
      <%= f.text_field :editor, class: 'form-control' %>
      
      <%= f.label :characters, "Character/s" %>
      <%= f.text_field :characters, class: 'form-control' %>
      
      <%= f.label :tags, "tag/s" %>
      <%= f.text_field :tags, class: 'form-control' %>
      
      <%= f.label :volume_id, "Volume (if volume not shown please add volume first)" %>
      <%= f.select :volume_id, options_from_collection_for_select(Volume.all, :volumeID, :volumename) %>


      <%= f.submit "Add new issue", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
<footer> 
<%=render 'layouts/footer' %>
</footer>
  </body>
<html lang="en">