<% provide(:title, @iss.issueName) %>

<%= render 'layouts/navbar' %>

<div class="container alert-warning modal-content">
 <div class="card">
   <img src=<%=@iss.cover%>>
   </div>
<h1>
  <%= @iss.issueName %> : <br>
</h1>
<h3>
    <%= @iss.summary%>
</h3>
</div>
<%= render 'i_comments/form' %>
<%= render 'layouts/issueComments' %>
</body>
<%= render 'layouts/footer'%>