<% provide(:title, @iss.issueName) %>

<%= render 'layouts/navbar' %>

<body>
<div class="container align-items-stretch align-left">
<div class="card">
    <img  src=<%=@iss.cover%>>
<h1>
  <%= @iss.issueName %>
  : <br>
  </h1>
  <h3>
  <%= @iss.summary%>
  </h3>

</div>
</div>
<%= render 'i_comments/form' %>
<%= render 'layouts/issueComments' %>
</body>
<%= render 'layouts/footer'%>