 <%= render 'layouts/navbar'%>
<div class=container style="padding-top: 10%;">
      <% if logged_in? %>
        <%= form_for ([@user, @comm]) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.label :body, "Comment" %>
          <div class = container>
          <%= f.text_area :body %>
          </div>
          <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        <% end %>
      <% end %>
      
      </div>