<% provide(:title, @pub.publisherName) %>
<%= render 'layouts/navbar' %>

<div class="container alert-warning modal-content">
 <div class="card">
   <div align="center">
   <img class="card-img card-scale" src=<%=@pub.picture%> style="">
   </div>
   </div>
<h1>
  <%= @pub.publisherName %>
</h1>
<h3>
  <%= @pub.description %>
</h3>

</div>
</div>

<%= render 'layouts/footer'%>