<%= form_with(model: user, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :displayName %>
    <%= form.text_field :displayName, id: :user_displayName %>
  </div>

  <div class="field">
    <%= form.label :profilePic %>
    <%= form.text_field :profilePic, id: :user_profilePic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
