<%= form_with(model: user, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :displayName %>
    <%= form.text_field :displayName, id: :user_displayName %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :personalBio %>
    <%= form.text_field :personalBio, id: :user_personalBio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
