<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :profilePic, "Profile Picture url" %>
        <%= f.text_field :profilePic %>
      
        <%= f.label :displayName %>
        <%= f.text_field :displayName %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
        <%= f.label :personalBio, "About You" %>
        <%= f.text_area :personalBio %>
        <%= f.label :firstname, "First name" %>
        <%= f.text_field :firstname %>
        
        <%= f.label :lastname, "Last name" %>
        <%= f.text_field :lastname %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>

  </div>
</div>