<% @icomments.sort_by(&:date).reverse.each do |yett| %>
<div class = container align = left>
  <div class = "row" >
    <p>
      <img class="mx-auto rounded-circle" src=<%=@user.profilePic%> width="125" height="125" alt=""> </img>
    </p>
    <p>
      <a href="/issues/<%=yett.issue.issueID%>"><img class="mx-auto rounded-circle" src=<%=yett.issue.cover%> width="95" height="95" position= 105px alt=""></a>
    </p>
    <p>
  </div>
  <div class = container>
     Date: <%=yett.created_at%> <br>
  </p>
  <p id = "comments">
    <%=yett.body%>
  </p>
  </div>
</div>
<%end%>