<p id="notice"><%= notice %></p>
<%= render 'layouts/navbar' %>
<html lang="en">

  <body>
   <header class="jumbotron my-4">
   <h1 class="display-3">Account Information</h1>
   </header>
   <div class = 'container'>
    <ul class="users">
    <% @users.each do |user| %>
      <li>
        <img src=<%=user.profilePic%> width="80" height="80" alt="">
        <%= link_to user.displayName, user %>
      </li>
    <% end %>
    </ul>
  
  </div>

    <%=render 'layouts/footer' %>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
<%= render 'layouts/footer' %>
