<% provide(:title, @user.displayName) %>
<h1>
  <%= @user.displayName %>
</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>personalBio:</strong>
  <%= @user.personalBio %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
