<% provide(:title, @user.displayName) %>
<% provide(:title, @icomments)%>
<%= render 'layouts/navbar' %>
<html lang="en">

<body>
  
   <div class= container>
   <header class="jumbotron my-4">
        <h1 class="display-3">User Info</h1>
        <p class="lead"></font></p>
    </header>
        <%= render 'flists/follow' %>
    <div class = "container" id=news>
      <div class = text-center>
      <h1>
        <img class ="mx-auto rounded-circle"src=<%=@user.profilePic%> width="80" height="80" alt="">
        <%= @user.displayName %>
      </h1>
      <p>
        </div>
        <strong>First Name:</strong>
        <%= @user.firstname %>
      </p>
      <p>
        <strong>Last Name:</strong>
        <%= @user.lastname %>
      </p>
      <p>
        <strong>Biography:</strong>
        <%= @user.personalBio %>
      </p>
      <p id="notice"><%= notice %></p>
      <p>
      <strong>E-mail:</strong>
        <%= @user.email %>
      </p>
            
      <% if logged_in? && @current_user.displayName == @user.displayName %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
      </div>
      <%= render 'comments/uform' %>
      <%= render 'comments/comment' %>
      <%= render :file => 'users/icomments' %>
      </div>
    </div>
    </div>
    </div>
    </div>



<%= render 'layouts/footer' %>
</body>