<% provide(:title, @user.displayName) %>
<% provide(:title, @icomments)%>
<%= render 'layouts/navbar' %>
<html lang="en">

<body>
  
   <div class= container style="padding-top:3%">
    <div class = "container" id=news>
      <div class = text-center>
      <h1>
        <img class ="mx-auto rounded-circle"src=<%=@user.profilePic%> width="80" height="80" alt="">
        <%= @user.displayName %>
      </h1>
      <% if @user.permission.to_i == 2%>
      <p>
        Admin Account 
        <img class = "mx-auto rounded-circle" src=<%= asset_path '/crown_bronze.png' %>>
      </p>
      <%end%>
      <% if @user.permission.to_i == 1%>
      <p>
        Editor Account
        <img class = "mx-auto rounded-circle" src=<%= asset_path '/wrench_orange.png' %>>
        </p>
        <%end%>
      </p>
      <p>
        </div>
        <strong>First Name:</strong>
        <%= @user.firstname %>
      </p>
      <p>
        <strong>Last Name:</strong>
        <%= @user.lastname %>
      </p>
      <p>
        <strong>Biography:</strong>
        <%= @user.personalBio %>
      </p>
      <p id="notice"><%= notice %></p>
      <p>
      <strong>E-mail:</strong>
        <%= @user.email %>
      </p>
            
      <% if logged_in? && @current_user.displayName == @user.displayName %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
      
      Following Users: <br>
      <% @user.flists.each do |ufl| %>
        <% User.all.each do |user|%>
          <% if user.userID == ufl.followid %>
          <a href="/users/<%=ufl.followid%>"><img src="<%=user.profilePic%>" width=25 height=25></img></a><a href="/users/<%=ufl.followid%>"><%=user.displayName%></a> <br>
          <%end%>
          <%end%>
        <%end%>
      </div>
      
      <div class= "text-center">
        <%= render 'flists/follow' %>
      </div>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-6">
        <h3>WALL</h3>
        <%= render 'comments/uform' %>
        <%= render 'comments/comment' %>
      </div>
      <div class = "col-sm-6" >
        <h3>Activity</h3>
        <%= render :file => 'users/icomments' %>
      </div>
      </div>
    </div>
  </div>



<%= render 'layouts/footer' %>
</body>