<% provide(:title, @user.displayName) %>
<%= render 'layouts/navbar' %>
<html lang="en">

  <body>
   <header class="jumbotron my-4">
   <h1 class="display-3">Account Information</h1>
   </header>
    <div class = 'container'>
      <div class = shadowbox>
      <h1>
        <img src=<%=@user.profilePic%> width="80" height="80" alt="">
        <%= @user.displayName %>
      </h1>
      <p>
        <strong>First Name:</strong>
        <%= @user.firstname %>
      </p>
      <p>
        <strong>Last Name:</strong>
        <%= @user.lastname %>
      </p>
      <p>
        <strong>Biography:</strong>
        <%= @user.personalBio %>
      </p>
      <p id="notice"><%= notice %></p>
      <p>
      <strong>E-mail:</strong>
        <%= @user.email %>
      </p>
    </div>
    <div align = right>
      
      <div class = "container">
      <div class = "row">
        <div id: "comments">
          <div class="col-sm-12">
            <% Issue.all.each do |issues| %>
              <% issues.IComments.each do |iComments| %>
                <% User.all.each do |user| %>
                 <% if(user.userID == iComments.user_id && user.displayName == @user.displayName)%>
                  <p>
                    <img src = <%=user.profilePic%> width="80" height = "80" alt"">  <%=user.displayName%>
                  </p>
                  <p>
                      Date: <%=iComments.date%> <br />
                  </p>
                  <p id = "comments">
                     <%=iComments.body%>
                  </p>
                  <p>
                    From Location:  <a href="/issues/<%= issues.issueID %>" class="btn btn-primary">Here</a>
                  </p>
                  <%end%>
                <%end%>
              <% end %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
      
      <% if logged_in? && @current_user.displayName == @user.displayName %>
    <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
      </div>
      </div>

    <%=render 'layouts/footer' %>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>