<% provide(:title, @user.displayName) %>
<%= render 'layouts/navbar' %>
<html lang="en">

<body>
   <div class= container>
   <header class="jumbotron my-4">
        <h1 class="display-3">User Info</h1>
        <p class="lead"></font></p>
        </header>
        </div>
    <div class = "container">
      <h1>
        <img class ="mx-auto rounded-circle"src=<%=@user.profilePic%> width="80" height="80" alt="">
        <%= @user.displayName %>
      </h1>
      <p>
        <strong>First Name:</strong>
        <%= @user.firstname %>
      </p>
      <p>
        <strong>Last Name:</strong>
        <%= @user.lastname %>
      </p>
      <p>
        <strong>Biography:</strong>
        <%= @user.personalBio %>
      </p>
      <p id="notice"><%= notice %></p>
      <p>
      <strong>E-mail:</strong>
        <%= @user.email %>
      </p>
            
      <% if logged_in? && @current_user.displayName == @user.displayName %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
      </div>
  
  <% Issue.all.each do |issues| %>
   <% User.all.each do |user| %>
     <% my_array = issues.IComments.all %>
       <% my_array.sort_by(&:date).each do |iComments| %>
          <% if(user.userID == iComments.user_id && user.displayName == @user.displayName) %>
                    
          <div class = container align = left>
            <div class = "row" >
                   <p>
                    <img class="mx-auto rounded-circle" src=<%=user.profilePic%> width="125" height="125" alt=""> </img>
                   </p>
                   <p>
                   <a href="/issues/<%=issues.issueID%>"><img class="mx-auto rounded-circle" src=<%=issues.cover%> width="95" height="95" position= 105px alt=""></a>
                   </p>
                   <p>
                     </div>
                     <div class = container>
                       
                    Date: <%=iComments.date%> <br>
                   </p>
                   <p id = "comments">
                     <%=iComments.body%>
                   </p>
                   </div>
                   </div>
                  <%end%>
                  <%end%>
                  <%end%>
                  <%end%>
                  </div>
    </div>
    </div>
    </div>
    </div>



<%= render 'layouts/footer' %>
</body>





    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
