<% provide(:title, @user.displayName) %>
<% provide(:title, @icomments)%>
<%= render 'layouts/navbar' %>
<html lang="en">

<body>
  
   <div class= container>
    <div class = "container" id=news>
      <div class = text-center>
      <h1>
        <img class ="mx-auto rounded-circle"src=<%=@user.profilePic%> width="80" height="80" alt="">
        <%= @user.displayName %>
      </h1>
      <% if @user.permission.to_i == 2%>
      <p>
        Admin Account 
        <img class = "mx-auto rounded-circle" src=<%= asset_path '/crown_bronze.png' %>>
      </p>
      <%end%>
      <p>
        </div>
        <strong>First Name:</strong>
        <%= @user.firstname %>
      </p>
      <p>
        <strong>Last Name:</strong>
        <%= @user.lastname %>
      </p>
      <p>
        <strong>Biography:</strong>
        <%= @user.personalBio %>
      </p>
      <p id="notice"><%= notice %></p>
      <p>
      <strong>E-mail:</strong>
        <%= @user.email %>
      </p>
            
      <% if logged_in? && @current_user.displayName == @user.displayName %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>

      </div>
      
      <div class= "text-center">
        <%= render 'flists/follow' %>
      </div>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-6">
        <%= render 'comments/uform' %>
        <%= render 'comments/comment' %>
      </div>
      <div class = "col-sm-6" style="padding-top: 11.9%;">
        <%= render :file => 'users/icomments' %>
        </div>
      </div>
    </div>
  </div>



<%= render 'layouts/footer' %>
</body>