<% provide(:title, @user.displayName) %>
<h1>
  <%= @user.displayName %>
</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>personalBio:</strong>
  <%= @user.personalBio %>
</p>
<% if logged_in? && @current_user.displayName == @user.displayName %>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>|
<%= link_to 'Back', users_path %>
