<%= render 'layouts/navbar' %>
 
  <div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="display-3">Add News</h1>
    <%= form_for(@newpage) do |f| %>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :image, "Cover URL" %>
      <%= f.text_field :image, class: 'form-control' %>
      
      <%= f.label :body, "Summary" %>
      <%= f.text_area :body, class: 'form-control' %>
      
      <%= f.label :author, "Author" %>
      <%= f.text_field :author, class: 'form-control' %>
      
      <%= f.label :link, "link" %>
      <%= f.text_area :link, class: 'form-control' %>
      


      <%= f.submit "Edit Article", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
<footer> 
<%=render 'layouts/footer' %>
</footer>
  </body>
<html lang="en">