<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="display-3">Edit Volume</h1>
    
    <%= form_for:news do |f| %>
    
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: 'form-control' %>
    
    <%= f.label :author, "Author" %>
    <%= f.text_field :author, class: 'form-control' %>
      
    <%= f.label :body, "Body" %>
    <%= f.text_field :body, class: 'form-control' %>
      
    <%= f.label :image, "Image" %>
    <%= f.text_field :image, class: 'form-control' %>
      
    <%= f.label :author, "Link to article" %>
    <%= f.text_field :author, class: 'form-control' %>

    <%= f.submit "Add news", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
<footer> 
<%=render 'layouts/footer' %>
</footer>
  </body>
<html lang="en">
