<!DOCTYPE html>
<p id="special_content">
  <%= yield :special_content %>
</p>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mango Comics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

    <!-- Navigation -->
    <%= render 'layouts/navbar' %>
    </br>
    </br>
    
    <title>Mango Comics</title>

       <div class="container ">
           <img id = "headerimage" src="<%=@newpage.image %>">   
           </div>
       </div>
        
    <div class = "container">
        <div class="row">
            <div class="shadow-lg p-4 mb-4 bg-white">
                <p id = "author"> Author: <%=@newpage.author %></p>
                <p><%=@newpage.body %> </p>
                <% if logged_in? && (current_user.permission.to_i > 0) %>
                    <%= link_to "Edit", edit_news_path %>
                    <% end %>
            </div>
        </div>
    </div>    
    
    <div class = "container">
        <div class="span10-12"> 
        <p id = "link">Check out the source for more!<a href="<%=@newpage.link%>"> source </a></p>
        </div>
    </div>
    
    <%= render 'm_comments/form' %>
    <%= render 'm_comments/comment'%>
    <%#= render 'm_comments/form' %>
<!--
    <div class = "container">
        <div class = "row">
          <div id: "comments">
            <div class="col-sm-12">
              <% @newpage.MComments.each do |mComment| %>
              <p> 
              <div class = "shadowboxN">
                <%=mComment.user_id%> Date: <%=mComment.created_at%>
                <br />
              </p>
              </div>
              <p id = "comments"> <%=mComment.body%></p>
            <% end %>
            </div>
          </div>
        </div>
      </div>
-->  <%= render 'layouts/footer' %>
    </body>


<!-- Footer -->
    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</html>