<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <div class = "container">
  <a>Total Rating</a>
  <% @rating.to_i.times do  %>
  <img class ="mx-auto rounded-circle"src="/Yellow_Star.svg" width="20" height="20" alt="">
  <% end %>
  <% (5-@rating.to_i).times do %>
   <img class ="mx-auto rounded-circle"src="/Empty_Star.svg" width="20" height="20" alt="">
  <% end %>
    <a>Total Votes:</a>
    <%= @iss.IRatings.count %>
    
  <div class = "row"> 
    <div class = "col-sm-3">
  <% if logged_in? %>
  <% if @iss.IRatings.where("user_id = ?",current_user.userID).blank? %>
    <%= form_for ([@iss,@iss.IRatings.build]) do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :rating, "Rate" %>
          <%= f.select :rating, options_for_select(["1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %>
          

          <%= f.submit "Rate", class: "btn btn-small btn-primary" %>
    <% end %>
  <% else %>
    <%= form_for [@iss,@iss.IRatings.where("user_id = ?",current_user.userID).first] do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :rating, "Your Current Rating" %>
          <%= f.select :rating, options_for_select([@iss.IRatings.where("user_id = ?",current_user.userID).first.rating.to_i, "1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %>
          

          <%= f.submit "Rate", class: "btn btn-small btn-primary" %>
    <% end %>
  <% end %>
  <% end %>
    </div>
  </div>
</div>