<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div class = "container" width="20" height="20">
  <a>Total Rating</a>
  <% @rating.to_i.times do  %>
     <img class ="mx-auto rounded-circle"src="/Yellow_Star.svg" width="20" height="20" alt="">
  <% end %>
  <% (5-@rating.to_i).times do %>
   <img class ="mx-auto rounded-circle"src="/Empty_Star.svg" width="20" height="20" alt="">
  <% end %>
    <a>Total Votes:</a>
    <%= @vol.VRatings.count %>
    
    
  <% if logged_in? %>
  <% if @vol.VRatings.where("user_id = ?",current_user.userID).blank? %>
    <%= form_for ([@vol,@vol.VRatings.build]) do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :rating, "Rate" %>
          <%= f.select :rating, options_for_select(["1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %>
          

          <%= f.submit "Rate", class: "btn btn-small btn-primary" %>
    <% end %>
  <% else %>
    <%= form_for [@vol,@vol.VRatings.where("user_id = ?",current_user.userID).first] do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :rating, "Your Current Rating" %>
          <%= f.select :rating, options_for_select([@vol.VRatings.where("user_id = ?",current_user.userID).first.rating.to_i, "1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %>
          

          <%= f.submit "Rate", class: "btn btn-small btn-primary" %>
    <% end %>
  <% end %>
  <% end %>
  
</div>