   <% provide(:title,  @newpage.newsId) %>
  <% provide(:title, @iss.display) %>
    <div class = "container">
      <div class = "row">
        <div id: "comments">
          <div class="col-sm-12">
            <% @newpage.MComments.each do |mComments| %>
                  <p>
                    <img src = <%=mComments.user.profilePic%> width="80" height = "80" alt"">  <%=mComments.user.displayName%>
                  </p>
            
            <p>  Date: <%=mComments.date%>
            <% if logged_in? && @current_user.userID == mComments.user_id %>
                <%= link_to "Delete", [mComments.new, mComments], method: :delete %>
                <%= link_to "Edit", edit_news_m_comment_path(mComments.new, mComments) %>
            <% end %>
            <br />
            </p>
            <p id = "comments"> <%=mComments.body%></p>
            
            <% end %>
          </div>
        </div>
      </div>
    </div>
