<!DOCTYPE html>
<p id="special_content">
  <%= yield :special_content %>
</p>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mango Comics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">MangoComics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                      <div class="index_search">
        <%= form_tag(issues_url, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span2  form-control", placeholder: "Search Issues" %>
        <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
        of using a Rails form helper -->
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        <% end %>
        </div>   
                      </div> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static_pages/comiclist">Comic List</a>
            </li>
            <li class="nav-item">
              <% if logged_in? %>
                <li>
                <%= link_to "Log out", logout_path, method: :delete%>
                </li>
              <% else %>
                  <a><%= link_to "Log in", login_path %></>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= render 'layouts/navbar' %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">MangoComics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                      <div class="index_search">
        <%= form_tag(issues_url, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span2  form-control", placeholder: "Search Reviews" %>
        <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
        of using a Rails form helper -->
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        <% end %>
        </div>   
                      </div> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static_pages/comiclist">Comic List</a>
            </li>
            <li class="nav-item">
              <% if logged_in? %>
                <li>
                <%= link_to "Log out", logout_path, method: :delete%>
                </li>
              <% else %>
                  <a><%= link_to "Log in", login_path %></>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome<% if logged_in? %>, <%=@current_user.displayName%><% end %> ! <!-- calls userID--> </h1>
        <p class="lead"></font></p>
        <!--<a href="#" class="btn btn-primary btn-lg">Call to action!</a>-->
      </header>

      <!-- Page Features -->
      <div class="row text-center">
        <% Issue.all.each do |issue| %>
        <div class="col-lg-3 col-md-2 mb-1 d-flex align-items-stretch">
          <div class="card">
            <img class="card-img-top" src=<%=issue.cover%> width="100" height="300" alt="">
            <div class="card-body">
              <h4 class="card-title"><%=issue.issueName%></h4>
              <p class="card-text"><font size="1"><%=issue.author%></font></p>
            </div>
            <div class="card-footer">
              <a href="/issues/<%= issue.issueID %>" class="btn btn-primary">More...</a>
            </div>
          </div>
        </div>
       <% end %>
      </div>
      <!-- /.row -->

    </div>
    </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%= render 'layouts/footer' %>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>