<!DOCTYPE html>
<p id="special_content">
  <%= yield :special_content %>
</p>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mango Comics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <%= render 'layouts/navbar' %>
   

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      

      <!-- Page Features -->
      <div class="row text-center">
        <% @iss.reorder('issuename').each do |issue| %>
        <div class="col-lg-3 col-md-2 mb-1 d-flex align-items-stretch">
          <div class="card">
            <img class="card-img-top" src=<%=issue.cover%> width="100" height="300" alt="">
            <div class="card-body">
              <h4 class="card-title"><%=issue.issuename%></h4>
              <p class="card-text"><font size="1"><%=issue.author%></font></p>
            </div>
            <div class="card-footer">
              <a href="/issues/<%= issue.issueID %>" class="btn btn-primary">More...</a>
            </div>
          </div>
        </div>
       <% end %>
      </div>
      <!-- /.row -->

    </div>
    </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%= render 'layouts/footer' %>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>