<!DOCTYPE html>
<p id="special_content">
  <%= yield :special_content %>
</p>
<html lang="en">
 <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">
    
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mango Comics</title>

  </head>

  <body>

   <%= render 'layouts/navbar' %>


    
    
     <div class="container">

      <!-- Jumbotron Header -->
      
  
  <body>
    </br>
    <!--
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      <h3>Track</h3>
      <p>Sign up and keep track of your favorite comic series as well those you want to avoid</p>
      <p></p>
      </div>
      <div class="col-sm-4">
      <h3>Community</h3>
      <p>Befriend other users and keep up to date whenever they post a review</p>
      </div>
      <div class="col-sm-4">
      <h3>Review</h3>
      <p>Give ratings and reviews on your favorite or your least favorite comics/series/franchises</p>
      </div>
    </div>
  </div>
  -->

  <% New.all.each do |new| %>
    <div class="container">
      <div class="span12" style="border: 2px solid black">  
        <div class="row">
         <div class="col-sm-4">
          <img src="<%= new.image %>" class="img-fluid" alt="Responsive image" >
          </div>
          <div class="col-sm-6">
          <h2><%= new.title %></h2>
          <p><a href="/news/<%= new.newsId %>">Click here to read more </a></p>
          </div>
        </div>
      </div>
    </div>
    </br>
  <% end %>
  <!--
  <h2><h2 id = "change" > 
      Change Logs:
  </h2>
  
  </div>
  <div class = "ex1">
    ver. 0.3 sign up and sign in complete <br />
    ver. 0.2 10 comic entries added <br />
    ver. 0.1 website online <br />
  </div>
  -->
  </body>
   <!-- Footer -->
  


</html>