<!DOCTYPE html>
<p id="special_content">
  <%= yield :special_content %>
</p>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mango Comics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <%= render 'layouts/navbar' %>
   

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      </br>
       <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <% if logged_in? && current_user.permission.to_i > 0%>
      <a href="/issues/new">
      <div class="col-lg-3 col-md-2 mb-1 d-flex align-items-stretch" style="background-color:white;">
        <img class=""src="<%=asset_path '/plus-circled (1).png'%>" width="" height="" alt="">
        <div class = "card-title" style="text-align:center;">
          <p>&nbsp;
          Add a New Issue!
          </p>
        </div>
        <%#= link_to "Create new Issue", new_issue_url %>
      </div>
      </a>
      <%end%>
      <!-- Page Features -->
      <div class="row text-center">
        <% @iss.reorder('issuename').each do |issue| %>
        <div class="col-lg-3 col-md-2 mb-1 d-flex align-items-stretch">
          <div class="card" style="background-color:#576881;">
            <img class="card-img-top" src=<%=issue.cover%> width="95" height="300" alt="">
            <div class="card-body" style="color: #E5E5E5;">
              <h4 class="card-title"><%=issue.issuename%></h4>
              <p class="card-text"><font size="1"><%=issue.author%></font></p>
            </div>
            <div class="card-footer">
              <a href="/issues/<%= issue.issueID %>" class="btn btn-primary" style="color: #E5E5E7;">More...</a>
            </div>
          </div>
        </div>
       <% end %>
      </div>
      <!-- /.row -->

    </div>
    </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%= render 'layouts/footer' %>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>