<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <title>MangoComics | MangoSoft</title>

    
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>

  </head>
  
  
  <!-- steal this smiley face : https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSiC7vr89WGzv1-MfyvHyFok4qfsbPC09fC1psUGg2NAU-hg-EAw-->
  <body style="margin-bottom: 15%; background-image: url(<%= asset_path '/assets/logos/mango-min2-52d4ddf9cc005ed14b3e836b8ecff3165144d6bc7f3ff7303bccd1102587a48c.png' %>);background-size: 45px 45px; background-repeat: space;" >
   <%= yield %>
  </body>
  
  <%=render 'layouts/footer'%>